.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}
.useraccount-messages{
    height: 50px;
    color: red;
}
.nav{
    padding: 15px;
    border-bottom: 1px solid #bbb; 
}
.nav-list{
    margin: 0;
    list-style: none;    
    text-align: right;
}
.nav-list li{
    margin: 0;
    padding: 0;
    display: inline-block;
}
.nav-list a{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.nav-list a:hover{    
    text-decoration: underline;
}
.content-row{
    display: flex;
    flex-wrap: nowrap;
}
.content-row .column{
    width: 33%;
}
.rooms-list li{
    cursor: pointer;
}
.btn-delete{
    display: inline-block;
    color: red;
    border: 1px solid red; 
    cursor: pointer;   
}
.is-login .btn-delete{
    display: inline-block;
}